@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body{
    width:90%;
    height:90%;
    margin:1% auto;
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
  }
  .item{
     text-align:center;
     margin:1%
  }
  .flex{
    display:flex;
    justify-content:center;
  }
  
  .box{
    border:solid 1px;
    margin:1% 2%;
    height:0;
    width:15%;
    padding-bottom:15%;
    border-radius: 100px;
    background-color: rgb(235, 197, 148);
  }
  
  .buttons{
    display:flex;
    justify-content:center;
    align-items: center;
    
  }
  img{
    width:70%;
    height:auto;
    display: block;
    margin:25% 15%
  }

  #result{
    height: 80px;
  }
 
  #rock, #paper, #scissors:hover{
    cursor: pointer;
  }
.btnImg{
  display: flex;
  justify-content: center;
}
  @media only screen and (max-width: 600px){
    #rock{
        width:80%;
        height:auto;
        display: block;
        margin:25%;
     }
     #paper{
        width:80%;
        height:auto;
        display: block;
        margin-left:35%;
        
        margin-top:25%;
     }
     #scissors{
        width:80%;
        height:auto;
        display: block;
        margin-left: 35%;
     }
     body{
        width:90%;
        height:90%;
        margin:10% auto;

        }
    #result{
        margin:15%;
        font-size: 25px;
    }
    .box{
        border:solid 1px;
        margin:2% 10%;
        height:0;
        width: 25%;
        padding-bottom:25%;        
      }
      .header{
        margin-top: 15%;
      }
  }
  
  @media only screen and (min-width: 600px){
    .btnImg{
      width: 30%;
     }
    .buttons{
        margin:2% auto;
        justify-items: center;
    }
    #result{
        margin:5%;
        font-size: 45px;
    }
    #name{
        font-size: 30px;
    }
    .flex{
      width: 80%;
      margin: 0 auto;
    }
  }
  
  @media only screen and (min-width: 768px){
    
  }
  
  @media only screen and (min-width: 992px){
    
  }
  
  @media only screen and (min-width: 1200px){
    #rock{
        width:40%;
        height:auto;
        display: block;
        margin:10%;
        
     }
     #paper{
        width:40%;
        height:auto;
        display: block;
        margin-left:15%;
        margin-top:10%;
     }
     #scissors{
        width:40%;
        height:auto;
        display: block;
        margin-top: 10%;
        margin-left: 20%;
     }

     .buttons{
        margin: 45px 50px ;
    }
    
  }
  
  @media only screen and (min-width : 1824px){
    #rock{
        width:30%;
        height:auto;
        display: block;
        margin:10%;
        
     }
     #paper{
        width:30%;
        height:auto;
        display: block;
        margin-left:15%;
        margin-top:10%;
     }
     #scissors{
        width:30%;
        height:auto;
        display: block;
        margin-top: 10%;
        margin-left: 20%;
     }

    .buttons{
        margin-top: 40px;
        margin-left: 210px;
        
    }
    #result{
        margin:3%;
        font-size: 70px;
    }
    #name{
        font-size: 50px;
    }
  }