body{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    /*position: relative;*/
   
    
    
   
  
}



#game{
    margin:50px auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.box{
    
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    overflow: hidden;
    height: 200px;
    width: 20%;
    box-shadow:1px 5px 10px;
    background-color: antiquewhite;
}

#buttons{
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    display:flex;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    
    
}

img{
    width: 75%;
}

.button{
   width: 20%;
}

h1 {
    text-align: center;
}
#buttons:hover{
    cursor: pointer;
}

#result{
    height: 60px;
    text-align: center;
    font-size: 70px;
    color: aliceblue;
    margin:0;
}

@media (max-width:560px) {
    img{
        width: 60px;
    }
    #buttons{
        width: 60%;
    }
    .box{
        height:100px;
        width:30%;
    }
    body{
        width:568px
    }
    #game{
        width: 325px;
        margin-top: 0;
    }
    h1{
        font-size: 18px;
    }
    #result{
        font-size: 30px;
    }
}